MYSQL_ROOT_PASSWORD=ChangeMe_RootPwd_2026
MYSQL_DATABASE=glpidb
MYSQL_USER=glpiuser
MYSQL_PASSWORD=ChangeMe_GlpiPwd_2026

GLPI_VERSION=10.0.18
TZ=Europe/Paris

# Décommenter et adapter si exposition derrière un reverse-proxy (Traefik/Nginx)
# DOMAIN_NAME=glpi.local
